<div class="row">
  <div *ngFor="let gifs of gifsHijo"  class="col-md-3 col-md-6">
    <div class="card mb-2 text-center bg-dark">
      <!-- <img
        src="https://media.giphy.com/media/3o7TKz9bX9YKuKFWZW/giphy.gif"
        class="card-img-top"
        alt="..."
      /> -->
      <img
        src={{gifs.images.preview_webp.url}}
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-white">
        <!-- este div antes era un p -->
        <p class="cart-text">{{gifs.title}} </p>
      </div>
    </div>
  </div>
</div>
